.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    align-items: center;
}
.skills .titulo{
    font-size: 40px;
    color: rgb(74, 209, 74);
    
} 
/* .skills .icons{
